<h1 class="title"
  [innerText]="'pet-search.title' | translate"></h1>

<input [(ngModel)]="searchOptions.location">

<select [(ngModel)]="searchOptions.animal" (change)="refreshBreeds()">
  <option *ngFor="let animal of animals" [value]="animal.key">{{animal.label}}</option>
</select>

<select [(ngModel)]="searchOptions.breed">
  <option *ngFor="let breed of breeds" [value]="breed.key">{{breed.label}}</option>
</select>

<select [(ngModel)]="searchOptions.age">
  <option *ngFor="let age of ages" [value]="age.key">{{age.label}}</option>
</select>

<select [(ngModel)]="searchOptions.sex">
  <option *ngFor="let sex of sexes" [value]="sex.key">{{sex.label}}</option>
</select>

<button (click)="findPets()">Find Pets</button>