<h1 class="title"
  [innerText]="'shelter-search.title' | translate"></h1>

<div class="form-container">
  <mat-form-field class="form-input-field">
    <input matInput
      placeholder="Location"
      [(ngModel)]="location">
  </mat-form-field> <br/>

  <mat-form-field class="form-input-field">
    <input matInput
      placeholder="Shelter Name"
      [(ngModel)]="name">
  </mat-form-field> <br/>

  <button mat-raised-button
    (click)="findShelters()"
    color="primary">
    Find Shelters
  </button>
</div>
  <br />
<div class="form-container">

  <mat-form-field class="form-input-field">
    <input matInput
      placeholder="Location"
      [(ngModel)]="location">
  </mat-form-field> <br/>

  <mat-select placeholder="Animal Type" [(ngModel)]="animal" (change)="refreshBreeds()" class="form-select-field">
    <mat-option *ngFor="let animal of animals"
      [value]="animal.key">
      {{animal.label}}
    </mat-option>
  </mat-select> <br/>
  
  <mat-select placeholder="Breed" [(ngModel)]="breed" class="form-select-field">
    <mat-option *ngFor="let breed of breeds"
      [value]=breed.key>
      {{breed.label}}
    </mat-option>
  </mat-select>

  <br />

  <button mat-raised-button
    (click)="findSheltersByBreed()"
    color="primary">
    Find Shelters by Breed
  </button>
</div>