<h1 class="title"
  [innerText]="'shelter-search.title' | translate"></h1>

<div class="form-container">
  <md-form-field class="form-input-field">
    <input mdInput
      placeholder="Location"
      [(ngModel)]="location">
  </md-form-field> <br/>

  <md-form-field class="form-input-field">
    <input mdInput
      placeholder="Shelter Name"
      [(ngModel)]="name">
  </md-form-field> <br/>

  <button md-raised-button
    (click)="findShelters()"
    color="primary">
    Find Shelters
  </button>
</div>
  <br />
<div class="form-container">

  <md-form-field class="form-input-field">
    <input mdInput
      placeholder="Location"
      [(ngModel)]="location">
  </md-form-field> <br/>

  <md-select placeholder="Animal Type" [(ngModel)]="animal" (change)="refreshBreeds()" class="form-select-field">
    <md-option *ngFor="let animal of animals"
      [value]="animal.key">
      {{animal.label}}
    </md-option>
  </md-select> <br/>
  
  <md-select placeholder="Breed" [(ngModel)]="breed" class="form-select-field">
    <md-option *ngFor="let breed of breeds"
      [value]=breed.key>
      {{breed.label}}
    </md-option>
  </md-select>

  <br />

  <button md-raised-button
    (click)="findSheltersByBreed()"
    color="primary">
    Find Shelters by Breed
  </button>
</div>