<h1 class="title"
[innerText]="'login.title' | translate"></h1>

<md-tab-group class="demo-tab-group">
  <md-tab label="Login" class="demo-tab">
    <form #loginForm="ngForm" class="demo-tab-content">
      <md-form-field class="form-field">
        <input mdInput
        placeholder="Email"
        #emailModel="ngModel"
        name="email"
        type="email"
        [(ngModel)]="email" 
        required email >
      </md-form-field> <br/>
      <md-form-field class="form-field">
        <input mdInput
        placeholder="Password"
        #passwordModel="ngModel"
        name="password"
        [(ngModel)]="password"
        type="password"
        required>
      </md-form-field> <br/>
      
      <button md-raised-button color="primary"
        [disabled]="loginForm.invalid"
        (click)="login(loginForm.valid)"
        type="submit">Login
      </button>
    </form>
  </md-tab>

  <md-tab label="Register" class="demo-tab">
    <form #registrationForm="ngForm" class="demo-tab-content">
      <md-form-field class="form-field">
        <input mdInput
        placeholder="Email"
        #emailModel="ngModel"
        name="email"
        type="email"
        [(ngModel)]="email" 
        required email >
      </md-form-field> <br/>
      <md-form-field class="form-field">
        <input mdInput
        placeholder="Password"
        #passwordModel="ngModel"
        name="password"
        [(ngModel)]="password"
        type="password"
        required>
      </md-form-field> <br/>
      
      <md-form-field class="form-field">
        <input mdInput placeholder="Name"
        #emailModel="ngModel"
        name="displayName"
        [(ngModel)]="displayName"
        type="name"
        required>
      </md-form-field>
      <br />
      
      <button md-raised-button color="accent"
        [disabled]="loginForm.invalid"
        (click)="register(loginForm.valid)"
        type="submit">Register
      </button>

    </form>
  </md-tab>
</md-tab-group>
