<mat-card class="shelter-card" >
  <!-- <mat-card-header> -->
    <mat-card-title [routerLink]="['/shelter', shelter.id]" color="accent">{{shelter.name}}</mat-card-title>
  <!-- </mat-card-header> -->
  <mat-card-content [routerLink]="['/shelter', shelter.id]">
    <h5>Phone: {{shelter.phone}}</h5>
    <h5>Email: {{shelter.email}}</h5>

    <h4><b>Address</b></h4>
    <h6>{{shelter.address1}}</h6>
    <h6>{{shelter.address2}}</h6>
    <h6>{{shelter.city}}, {{shelter.state}}</h6>

    <h4>Location: lat={{shelter.latitude}} lon={{shelter.longitude}}</h4>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!favourite" mat-button (click)="addToFavourites()">
      <mat-icon color="warn">favorite</mat-icon>
      <span>ADD TO FAVOURITES</span>
    </button>
    <button *ngIf="favourite" mat-button (click)="removeFromFavourites()">
      <mat-icon color="warn">favorite_border</mat-icon>
      <span>REMOVE FROM FAVOURITES</span>
    </button>
  </mat-card-actions>
</mat-card>