<ActionBar [title]="'login.title' | translate" class="action-bar">
</ActionBar>

<StackLayout class="m-5">
  <Label text="email" class="h2"></Label>
  <TextField
    #emailModel="ngModel"
    hint="email..."
    [(ngModel)]="email"
    required email>
  </TextField>

  <StackLayout class="input-field">
    <StackLayout *ngIf="emailModel.errors && emailModel.touched"> 
      <Label 
        *ngIf="emailModel.errors.required"
        text="email is missing"
        class="validation">
      </Label>
      <Label 
        *ngIf="emailModel.errors.email"
        text="the email is not in the correct format"
        class="validation">
      </Label> 
    </StackLayout> 
  </StackLayout>

  <Label text="password" class="h2"></Label>
  <TextField
    #passwordModel="ngModel"
    hint="password..."
    [(ngModel)]="password"
    secure="true"
    required>
  </TextField>

  <StackLayout class="input-field">
    <StackLayout *ngIf="passwordModel.errors && passwordModel.touched"> 
      <Label 
        *ngIf="passwordModel.errors.required"
        text="password is required"
        class="validation">
      </Label>
    </StackLayout> 
  </StackLayout>

  <Button 
    text="Login"
    (tap)="login(emailModel.valid && passwordModel.valid)"
    class="btn btn-rounded-lg"
    [class.btn-outline]="!(emailModel.valid && passwordModel.valid)"
    [class.btn-primary]="emailModel.valid && passwordModel.valid">
  </Button>

  <Button
    text="Register"
    (tap)="register(emailModel.valid && passwordModel.valid)"
    class="btn btn-rounded-lg"
    [class.btn-outline]="!(emailModel.valid && passwordModel.valid)"
    [class.btn-primary]="emailModel.valid && passwordModel.valid">
  </Button>
</StackLayout>