<mat-card *ngIf="pet" class="pet-card" >
  <mat-card-title>{{pet.name}}</mat-card-title>
  
  <img [src]="pet.media.getFirstImage(4, './assets/images/generic-pet.jpg')" />

  <!-- Convert this to a galery -->
  <!-- <img *ngFor="let media of pet.media.getImages(4)" [src]="media"/> -->

  <span>{{pet.description}}</span>

  <mat-card-actions>
    <button *ngIf="!favourite" mat-button (click)="addToFavourites()">
      <mat-icon color="warn">favorite</mat-icon>
      <span>ADD TO FAVOURITES</span>
    </button>
    <button *ngIf="favourite" mat-button (click)="removeFromFavourites()">
      <mat-icon color="warn">favorite_border</mat-icon>
      <span>REMOVE FROM FAVOURITES</span>
    </button>
  </mat-card-actions>
</mat-card>