.pet-card {
  width: 1000px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 500px;
    max-height: 500px;
  }

  span {
    padding-top: 10px;
  }
  md-card-title {
    width: 700px;
  }

  md-card-actions {
    align-self: center;
  }
}